.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    position: relative;
}

.header::before {
    content: '';
    height: 1px;
    width: 470px;
    background: #e7e7e773;
    position: absolute;
    left: 10%;
    z-index: 100;
}

.nav {
    background: #fffefe0f;
    backdrop-filter: blur(10px);
    padding: 0 8rem;
    display: flex;
    gap: 2rem;
}

.nav a {
    text-transform: uppercase;
    padding: 1.8rem 0rem;
    color: #e7e7e7;
    display: flex;
    gap: 0.5rem;
}

.nav .active {
    border-bottom: 2px solid #ebe7e7b8;
}

.nav span {
    font-weight: 700
}